.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 220px;
  background-color: #2d353c;
  box-shadow: -4px 0 6px rgba(0,0,0,.15) inset;
}

.logo {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}

.nav-item.active a{
  background-color: #489bfc;
}

.nav-item.active a:hover {
  background-color: #489bfc;
}

.nav-item a{
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #fff; 
}

.nav-item a:hover {
  background-color: #232a2f;
}