<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/normalize.css"></link>
  <link rel="stylesheet" href="css/about.css"></link>
  <title>文章标题</title>
</head>
<body>
  <header class="nav">
    <a href="/about" class="nav-item">
      <strong>Note</strong>
    </a>
    <a href="/about" class="nav-item">关于</a>
    <a href="/archive" class="nav-item">归档</a>
    <div class="search">
      <input class="search-input" placeholder="搜索" />
      <ul class="autocomplete"></ul>
    </div>
  </header>
  <main>
    <h3 class="title">关于 mcattx</h3>
    <div class="intro">
      <p>mcattx 是我常用的 id</p> 
      <p>我的 Github</p>
    </div>
  </main>
</body>
</html>